*
{
    margin :0;
    padding :0;
    box-sizing: border-box;
    font-family : sans-serif;
}

html{
    font-size: 62.5%;
}
body{
    background-image: url('login-background.jpg');
    background-size:cover  ;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}
.container
{
    display :flex;
    width :110rem;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container .box
{
    
    position :relative;
    width :32rem;
    background :#fff;
    padding : 15rem 4rem 6rem;
    box-shadow: 0 1.5rem 4.5rem rgba(0,0,0,.1);
    
}

.container .box::before
{
    content : '';
    position :absolute;
    top: 0;
    left :0;
    width :100%;
    height :100%;
    background :#ff226d;
    transform :scaleY(0);
    transform-origin: top ;
    transition: 0.5s ;
}

.container .box:hover:before
{

    transform :scaleY(1);
    transform-origin: bottom ;
    transition: 0.5s ;
}

.container .box h2
{
    position :absolute;
    left :4rem;
    top : 6rem;
    font-size: 4.8rem;
    font-weight : 800;
    z-index: 1;
    opacity: 0.5;
    transition :0.5s;
}

.container .box:hover h2
{
    opacity :1;
    color :#fff;
    transform: translateY(-40px);
}

.container .box h3
{
    position :relative;
    font-size: 1.8rem;
    z-index: 2;
    color :#333;
    transition : 0.5s;
}

.container .box:hover h3, .container .box:hover p
{
    color :#fff;    
}

.container .box p
{
    position :relative;
    z-index: 2;
    color :#555;
    transition : 0.5s;
}

#navbar{
    align-items: center;
}

#navbar
{
    display :flex;
    position :sticky;
}

/* logo and image */

#logo{
    margin: 1rem 3rem;
}

#logo img{
    margin: 0.3rem 0.6rem;
    height :5.6rem;
}

/* list styling */
#navbar ul{
    display :flex;
    font-family: 'Baloo Bhai 2', cursive;
}

#navbar::before{
    content : "";
    background-color: black;
    position: absolute;
    height : 100%;
    width :100%;
    z-index :-1;
    opacity : 0.3;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color :white;
    display : block;
    padding : 0.3rem 2.2rem;
    border-radius: 2rem;
    text-decoration: none;
}

#navbar ul li a:hover{
    color :black;
    background-color: white;
}
#home p{
    color :white;
    text-align: center;
    font-size :1.5rem;
    font-family: 'Baloo Bhai 2', cursive;
}


@media(max-width:998px)
{
    html{
        font-size: 55%;
    }
}

@media(max-width:862px)
{
    html{
        font-size: 45%;
    }
}

@media(max-width:706px)
{
    html{
        font-size: 35%;
    }
}

@media(max-width:552px)
{
    html{
        font-size: 25%;
    }
}

@media(max-width:418px)
{
    html{
        font-size: 20%;
    }
}

@media(max-width:374px)
{
    html{
        font-size: 5%;
    }
}
